<div class="home">
    
    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <div ng-show="sentence">
                            <h3 class="animated fadeOut">
                            <br>
                            <br>
                            <br>
                            <br>
                            One or two sentences about the website that fade away after five seconds.</h3>
                        </div>
                        <!-- <div ng-show="video"> -->
                            <h2 class = "animated fadeIn">
                            <br>
                            <br>
                            <br>
                    
                            <br>
                            This site is currently under construction.</h2>
                            <a  class="page-scroll" scrollTo="#latest">
                                <button type="button" class="btn btn-intro">
                                Watch the Latest Episode
                                </button>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        
    </section >
    <!-- Latest Resources Section -->
    <section id="latest" class="featured container content-section text-center">
        <div class="row">
            
            <div class="feature-col col-lg-6 col-md-6 col-sm-6"> 
            <br>
            <br>
            <br>
            <br>

            <h1>Featured Picks</h1>

            
<!--                 
                <img src="https://1.bp.blogspot.com/-2kc50czN79c/VsD4hJAvlXI/AAAAAAAAFa0/CQL19XJd1k0/s1600/chem.jpg" alt="TV" style = "text-align: left;  width: 430px; height: 300px">
                
                <p style="width: 430px; margin-bottom:0px;">
                Our latest resource Dirk Mateer's video</p> -->
                
                
            </div>
            
            <div class="col-lg-5 col-md-5 col-sm-5">

                <img class="video-image" 
    border="5" src="img/shutterstock5.png" alt="TV">
                <iframe class ="video" width="375" height="207" src="https://www.youtube.com/embed/0AtGd0Nmnrs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row" style="margin: 36px auto 10px auto">
   <!--      <div  style ="display: inline-block; border-top: 3px solid rgba(255,255,255,.6); margin:5px 0px; width: 38%;"></div><!--  -->
<!--         <div class = "latest" style ="display:inline-block">Featured Picks</div>  -->
        
        <div style ="display: inline-block; border-top: 3px solid rgba(255,255,255,.6); margin:65px 0px 0px 0px; width: 76%;"></div>
        </div>

        <div style ="width: 83%; margin: auto" class="row special">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="http://economics.utah.edu/1economics_1.jpg" alt="TV" style = "width: 260px; height: 150px"><p style = "font-size: 20px;">Copa Di Vino</p>
            </div>
           <!--  <div class="col-lg-4 col-md-4 col-sm-4" style="border-right: rgba(255,255,255,.6) solid; height:120px;"> -->
           <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="img/intro-bg.jpg" alt="TV" style = "width: 260px; height: 150px"><p style = "font-size: 20px; margin-bottom: 10px;">Khan Academy</p>
                <a scrollTo="#macro-section" class="arrow page-scroll">
            <img class ="arrow" src="img/arrow.png">
            
        </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src= "https://www.washcoll.edu/live/image/gid/64/width/650/11491_econ_dollarbill.jpg" alt="TV" style = "width: 260px; height: 150px;"><p style = "font-size: 20px;">Slawsa on Shark Tank</p>
            </div>

            
        </div>

    </section>
    <!-- Macro Section -->
    <section id="macro-section" class="macro container content-section text-center">
        
        <h1 class="macro-title">Macroeconomics</h1>
        <div class="row">
  <!--           <div class="col-lg-4 col-md-4 col-sm-4">
                <br>
                <br>
                <br>
                <br>

                  -->

<!--                 <h2><a ng-show="hover" href="#topics">Unemployment</a></h2>
                
                <h2><a ng-show="hover" href="#topics">Inflation</a></h2>
                
                <h2><a ng-show="hover" href="#topics">Money and Banking</a></h2> -->
          <!--   </div>
            <div class="col-lg-4 col-md-4 col-sm-4"> -->
                <ul class="macro-page">
                                <li ng-repeat="topic in macro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                            </ul>
                          <span class="reveal">
                <i class="reveal globe fa fa-globe"></i>
                    </span>
             
            </div>
            
            
<!--             <div class="col-lg-4 col-md-4 col-sm-4">
                <br>
                <br>
                <br>
                <br>
                <h2><a ng-show="hover" href="#topics">Economic Growth</a></h2>
                <h2><a ng-show="hover" href="#topics">Fiscal and Monetary Policy</a></h2>
                <h2><a ng-show="hover" href="#topics">International Economics</a></h2>
            </div> -->
        
        <br>
        <a scrollTo="#micro" class="page-scroll">
            <img class ="arrow" src="img/arrow.png">
            
        </a>
        
    </section>
    
    <!-- Micro Section -->
    <section id="micro" class="macro container content-section text-center">
        
        <h1 class="macro-title">Microeconomics</h1>
        <div class="row">
                <ul class="micro-page">
                                <li ng-repeat="topic in micro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                            </ul>
                          <span class="reveal">
                <i class="reveal globe fa fa-university"></i>
                    </span>
             
            </div>
    
        

    </section>
    
    <hr style ="border-top: 2px solid rgba(255,255,255,.6); margin:20px">
    
</div>
<script src="js/app.js"></script>