<div class="home-page">
    <div class="container full intro hundred" id="intro">
        <div class="center-vertically text-center">
                <h1>This site is currently under construction</h1><br>
                <a class="page-scroll" scrollto="#featured">
                    <button type="button" class="btn btn-intro">
                        Watch the Latest Episode
                    </button>
                </a>
        </div>
    </div>

    <div class="container full" id="featured">
        <div class="featured text-center">
            <div class="row">
                <div class=" col-lg-6 col-md-12 col-sm-12">
                    <h1>Featured<br>Picks</h1>
                </div>
                <div class="featured-video col-lg-6 col-md-12 col-sm-12">
                    <img class="" border="5" src="img/shutterstock5.png" alt="TV">
                    <iframe class="" width="332" height="187" src="https://www.youtube.com/embed/0AtGd0Nmnrs?rel=0&amp;showinfo=0" frameborder="0"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="row items">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <a href="http://econshark.com" target="_blank"><img src="http://economics.utah.edu/1economics_1.jpg" alt="TV"></a>
                    <p style="font-size: 20px;">Copa Di Vino</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <a href="http://dirkmateer.com" target="_blank"><img src="img/intro-bg.jpg" alt="TV"></a>
                    <p style="font-size: 20px; margin-bottom: 10px;">Khan Academy</p>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                    <a href="http://econshark.com" target="_blank"><img src="https://www.washcoll.edu/live/image/gid/64/width/650/11491_econ_dollarbill.jpg" alt="TV"></a>
                    <p style="font-size: 20px;">Slawsa on Shark Tank</p>
                </div>
            </div>
            <a scrollto="#macro" class="arrow page-scroll">
                <img class="arrow" src="img/arrow.png">
            </a>
        </div>
    </div>

    <div class="container full" id="macro">
        <div class="macro center-vertically text-center not-on-small">
            <h1>Macroeconomics</h1>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 globe">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 list">
                    <ul class="links">
                        <li ng-repeat="topic in macro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                    </ul>
                </div>
                            <a scrollto="#micro" class="page-scroll">
                <img class="arrow" src="img/arrow.png">
            </a>
            </div>

        </div>
    </div>

    <div class="container full" id="micro">
        <div class="micro text-center center-vertically not-on-small ">
            <h1 >Microeconomics</h1>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 list">
                    <ul  class="links">
                        <li ng-repeat="topic in micro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 flex500  ">
                    <i ng-mouseenter="hover=true" class="globe fa fa-university"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container full">
        <div class="row">
            <a
        </div>
    </div>
</div>
    


<!--<div class="home">-->
    <!--<section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3">
                        <div ng-show="sentence">
                            <h3 class="animated fadeOut">
                            <br>
                            <br>
                            <br>
                            <br>
                            One or two sentences about the website that fade away after five seconds.</h3>
                        </div>
             
                        <h2 class="animated fadeIn">
                            <br>
                            <br>
                            <br>
                            <br>
                            This site is currently under construction.</h2>
                        <a class="page-scroll" scrollTo="#latest">
                            <button type="button" class="btn btn-intro">
                                Watch the Latest Episode
                                </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Latest Resources Section -->
    <!--<section class="featured container content-section text-center">


    </section>-->
    <!--Macro Section -->
    <!--<section  class="macro container content-section text-center">
        <h1 class="macro-title">Macroeconomics</h1>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2" style="margin-left:20%">
                <i ng-mouseenter="hover=true" class="globe fa fa-globe"></i>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
                <ul ng-class="{'reveal': hover}" ng-mouseleave="hover=false" class="macro-page">
                    <li ng-repeat="topic in macro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                </ul>
            </div>
        </div>
        <a scrollTo="#micro" class="page-scroll">
            <img class="arrow" src="img/arrow.png">
        </a>
    </section>-->
    <!-- Micro Section -->
    <!--<section id="micro" class="macro container content-section text-center">
        <h1 class="macro-title">Microeconomics</h1>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <br>
                <br>
                <ul ng-class="{'reveal': hover}" ng-mouseleave="hover=false" class="micro-page">
                    <li ng-repeat="topic in micro"><a ng-href="#topics/{{topic.gsx$page.$t}}">{{topic.gsx$title.$t}}</a></li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 ">
                <i ng-mouseenter="hover=true" class="globe fa fa-university"></i>
            </div>
        </div>
    </section>-->
<!--</div>-->
<script src="js/app.js"></script>