    <!-- Economic Section -->

    <section class="featured container content-section text-center container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-1 col-md-offset-1">
                <h2>Featured Unemployment Resource</h2>
                <p>FiberFix</p>
                <img src="../img/intro-bg.jpg" alt="TV" style = "width: 350px; height: 200px">
            </div>
            
            <div class="col-lg-5 col-md-5 col-sm-5 col-lg-offset-right-1 col-md-offset-right-1">
                <p>This is some text about this featured resource.</p>
            </div>
        </div>
    </section>
    <hr style ="border-top: 2px solid rgba(255,255,255,.6); margin:20px">      

    <section class="container">
        <div class="row" >
                <div>

                <h3>{{topicTitle}}</h3>
                <p>{{topics[0].description}}</p>
                <p>Subject : {{topics[0].subject}}</p>
                <br>
                <hr style ="border-top: 2px solid rgba(255,255,255,.6); margin:20px">      
                
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Elementary
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('elem','Video')"><a >Video</a></li>
                        <li ng-click="filterResources('elem','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('elem','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('elem')" ><a >All</a></li>
                      </ul>
                    </li>

                     <li class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        High School
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('hs','Video')"><a >Video</a></li>
                        <li ng-click="filterResources('hs','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('hs','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('hs')" ><a >All</a></li>
                      </ul>
                    </li>

                     <li class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        College
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('college','Video')"><a >Video</a></li>
                        <li ng-click="filterResources('college','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('college','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('college')" ><a>All</a></li>
                      </ul>
                    </li>

                    <li class="dropdown">
                        <form class="nav-search" role="search">
                            <div class="form-group">
                              <input ng-model='searchFilter' type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                  </ul>


                </div>

                <div 
                    class="topic-resources"
                    ng-repeat="item in topics[0].resources| filter: gradeFilter | filter: mediaFilter | filter: searchFilter"> 
                    <div class="resource">
                        <h4> <a ng-href="{{item.link}}" target="_blank">{{item.title}}</a></h4>
                        <hr style ="border-top: 2px solid rgba(255,255,255,.6)">      
    
                        <p> {{item.description}}</p>
                    </div>

                </div>
            
                
        <hr style ="border-top: 2px solid rgba(255,255,255,.6); margin:20px">
        </div>
    </section>
