    <div class="showMe">
        <a href="#/">
            <img class="animated bounceIn logo " src="img/newlogo1.png" alt="TV" style="border: 0; margin-top: 5px;">
        </a>
    </div>
    
<div class="topics-page">
    <!-- Economic Section -->
    <section id="feature-section" class="feature-topic container">
        <div class="row feature-row">
        <h1 class="feature-title">{{featuredTopic.title}}</h1> 
                  <br><br>
            <div class="col-lg-5 col-md-5 col-sm-7 col-lg-offset-1 col-md-offset-1">
                
      
                <div class="feature-space">
                    <h4>{{featuredTopic.featured}}</h4>
                    <p class="feature-text">{{featuredTopic.description}}
                    <br>
                        <a href="{{featuredTopic.link}}" target="_blank" class="btn btn-pink" style="margin-top:7px" role="button">Show me the econ!</a>
                       
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-3 feature-image-col">
                <img class="feature-image" ng-src="{{featuredTopic.icon_2}}" alt="Feature Image">
            </div>
        </div>
    </section>

    <section class="resource-section">
        <div class="row tabs-row">
            <div class="col-md-12" >
                <!--             <h3>{{currentTopic}} Resources</h3> -->
                <ul class="nav nav-tabs" role="tablist" >
                    <li class="dropdown">
                        <button  class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        K-5th <span class="grade-hide">Grade</span>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                            <li ng-click="filterResources('elem','TV')"><a>TV</a></li>
                            <li ng-click="filterResources('elem','Film')"><a>Film</a></li>
                            <li ng-click="filterResources('elem','Music')"><a>Music Video</a></li>
                            <li ng-click="filterResources('elem','Other')"><a>Other</a></li>

                            <li role="separator" class="divider"></li>
                            <li ng-click="filterResources('elem')"><a>All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button  class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        6-12th <span class="grade-hide">Grade</span>
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                            <li ng-click="filterResources('hs','TV')"><a>TV</a></li>
                            <li ng-click="filterResources('hs','Film')"><a>Film</a></li>
                            <li ng-click="filterResources('hs','Music')"><a>Music Video</a></li>
                            <li ng-click="filterResources('hs','Other')"><a>Other</a></li>

                            <li role="separator" class="divider"></li>
                            <li ng-click="filterResources('hs')"><a>All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                        College
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                            <li ng-click="filterResources('college','TV')"><a>TV</a></li>
                            <li ng-click="filterResources('college','Film')"><a>Film</a></li>
                            <li ng-click="filterResources('college','Music')"><a>Music Video</a></li>
                            <li ng-click="filterResources('college','Other')"><a>Other</a></li>

                            <li role="separator" class="divider"></li>
                            <li ng-click="filterResources('college')"><a>All</a></li>
                        </ul>
                    </li>
                      <li class="dropdown search">
                        <form class="nav-search" role="search">
                            <div class="form-group">
                                <input ng-model='searchFilter' type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row tabs-row ">
            <div class="topic-resources " ng-repeat="resource in resources| filter: gradeFilter | filter: mediaFilter | filter: searchFilter">
                <div class="resource-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="item-title">{{resource.title}}</div>
                            <hr class="hr-topics">
                        <div >
                            <a ng-href="{{resource.sourcelink}}" target="_blank"><img ng-src="{{resource.image}}" alt="resource image"></a>
                        </div>
                        <div >
                            <p class="resource-text">{{resource.description}}</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>