<!-- Economic Section -->
<section class="feature-topic container content-section text-center container">
    <div class="row">
        <h1 class="feature-title">Featured {{currentTopic}} Resource</h1>
        <br>
    </div>
    <br>
    <div class="feature-space row">
        <img class = "feature-image" ng-src="{{featuredTopic.icon_2}}" alt="Feature Image" style = "width: 350px; height: 200px">
        <h4 style="text-align:left;">{{featuredTopic.featured}}</h4>
        <p class = "feature-text">{{featuredTopic.description}}
            <br>
            <br>
            <a href="{{featuredTopic.link}}" class="btn btn-pink" role="button">Go there now</a>
        </p>
    </div>
</section>
<hr style ="border-top: 2px solid rgba(255,255,255,.6); margin:5px">
<section class="container">
    <div class="row" >
        <div>
            <h3>{{currentTopic}} Resources</h3>
            <ul class="nav nav-tabs" role="tablist">
                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Elementary
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('elem','Video')"><a>Video</a></li>
                        <li ng-click="filterResources('elem','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('elem','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('elem')" ><a >All</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    High School
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('hs','Video')"><a >Video</a></li>
                        <li ng-click="filterResources('hs','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('hs','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('hs')" ><a >All</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle filter-button" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    College
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu filter-drop" aria-labelledby="dropdownMenu1">
                        <li ng-click="filterResources('college','Video')"><a >Video</a></li>
                        <li ng-click="filterResources('college','Audio')"><a >Audio</a></li>
                        <li ng-click="filterResources('college','Literature')"><a >Literature</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click="filterResources('college')" ><a>All</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <form class="nav-search" role="search">
                        <div class="form-group">
                            <input ng-model='searchFilter' type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
        <br>
        <div class="topic-resources" ng-repeat="resource in resources| filter: gradeFilter | filter: mediaFilter | filter: searchFilter">
            <div class="resource">
                <div class="inline">
                    <h5 class="title">{{resource.title}}</h5>

               
                </div>
                
                <hr style ="border-top: 2px solid rgba(255,255,255,.6)">
                <p> {{resource.description}}<br><br>
                     <a ng-href="{{resource.sourcelink}}"  class="btn btn-pink" role="button">Go there now</a>
                  <span style="margin-left:10px"></span>

                  </p>
            </div>
          
        </div>
        
        
    </div>
    
</section>

