body {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../img/shutterstock6.png) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
h5 {
  color: black;
  display: inline-block;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
}

h2{
  font-size: 24px;
}
h3 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 26px;
}
h4 {
  margin: 0 0 25px;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}
p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
}
span:hover {
  -webkit-transition: all ease 0.5s !important;
  transition: all ease 0.5s !important;
  color: black !important;
  opacity: 0.7 !important;
}
img {
  border: 3px solid #E82A89;
  border-radius: 3px;
}
a {
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #f01884;
}
img::-moz-selection {
  background: 0 0;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
#the-iframe {
  cursor: pointer;
}
.li {
  color: black !important;
  cursor: pointer;
}
.title {
  color: black !important;
  display: inline-block;
  margin: auto;
  text-align: right;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
}
.tabs-row {
  margin: auto;
}
.fa.fa-angle-down {
  font-size: 120px;
  font-weight: 0px;
  margin: 0 !important;
  padding: 0 !important;
  color: rgba(255, 255, 255, 0.6);
}
.fa.fa-angle-down:hover {
  cursor: pointer;
}
.fa.fa-university {
  font-size: 440px;
  color: #f01884;
  padding-top: 0px;
}
.fa.fa-globe {
  font-size: 440px;
  color: #f01884;
  padding-top: 0px;
}
.globe {
  cursor: pointer;
}
.arrow {
  margin-top: 0px !important;
  padding-top: 0px !important;
  width: 70px;
  height: 40px;
  border-style: none;
}
.arrow:hover {
  cursor: pointer;
}
.flex500 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}
.reveal {
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  opacity: 100 !important;
  color: white;
}
.about {
  position: absolute;
  width: 115px;
  right: 0;
  text-align: center;
  padding-left: 6px;
  padding-top: 10px;
  margin-right: 35px;
  margin-top: 75px;
}
.new-about {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .new-about {
    margin: 0;
  }
}
.showMe {
  display: none;
}
@media (max-width: 768px) {
  .showMe {
    display: block;
    text-align: center;
  }
  .showMe img {
    width: 100px;
    height: 100px;
  }
}
.navbar-custom {
  text-align: center;
  margin: auto;
  background-attachment: fixed;
  background: url("../img/shutterstock6.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  /* border-bottom: 3px solid rgba(255,255,255,.3); */
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 767px) {
  .navbar-custom {
    display: none;
  }
}
@media (min-width: 735px) and (max-width: 1025px) {
  .navbar-custom {
    background: url("../img/shutterstock8.png") !important;
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}
.navbar-custom .navbar-brand {
  font-weight: 700;
  padding: 0;
  background-image: url("../img/shutterstock4.png");
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
  display: none;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
  background-image: url("../img/shutterstock4.png");
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a {
  background-color: #f4f4f4;
}
.navbar-custom .nav li.active a:hover {
  color: #fff;
}
nav .logo {
  width: 110px;
  height: 105px;
  padding: 0px;
}
@media (min-width: 735px) {
  nav a.navbar-subjects {
    font-size: calc(2vw);
  }
}
@media (max-width: 790px) {
  nav a.navbar-subjects {
    font-size: 20px;
  }
  nav a.navbar-subjects ul {
    padding: 10px;
    margin: 0;
  }
}
nav .topics {
  background: #f4f4f4 !important;
  border: 0 !important;
  border-color: transparent;
}
nav .topics-menu {
  background-color: transparent;
  border-color: transparent;
  border: 0 !important;
}
nav .topics:after {
  background: transparent;
  border: 0 !important;
  border-color: transparent;
}
nav .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
nav .dropdown:hover .dropdown-menu {
  display: block;
}
nav .dropdown:hover .topics {
  left: 22%;
}
nav .topics {
  background: #fff !important;
  border: 0 !important;
  border-color: transparent;
}
nav .topics-menu {
  background-color: transparent;
  border-color: transparent;
  border: 0 !important;
}
nav .topics:after {
  background: transparent;
  border: 0 !important;
  border-color: transparent;
}
nav .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
nav .dropdown:hover .dropdown-menu {
  display: block;
}
nav .dropdown:hover .topics {
  left: 22%;
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 400px;
}
.navbar-header {
  display: none;
}
.navbar-subjects {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bolder !important;
  margin-left: 20px;
}
/*.navbar-center {
    width: 550px;
    margin:auto;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    background-image: url("img/navbar.png");
}*/
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 100%!important;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.btn-default {
  border: 3px solid #42dca3;
  color: #42dca3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42dca3;
  outline: 0;
  background-color: #f01884;
}
.btn-intro {
  border: 2px solid #f01884;
  color: #f01884;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  border-radius: 3px;
}
.btn-intro:hover,
.btn-intro:focus {
  background: #f01884;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-pink {
  color: #ffffff;
  background-color: #f01884;
  border-color: #130269;
  border-radius: 5px !important;
  text-align: left !important;
}
.rating {
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  position: absolute;
}
/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #B57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
footer {
  padding-bottom: 50px;
  background-color: transparent;
}
footer p {
  margin: 0;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    background-image: url("img/navbar.png");
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background-image: url("img/navbar.png");
    /*   border-bottom: 3px solid rgba(255,255,255,.3);*/
  }
}
@media (min-width: 768px) {
  .intro {
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  p {
    /*  margin: 0 0 35px;*/
    font-size: 20px;
    line-height: 1.4;
  }
}
.topics-page .hr-topics {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  margin-top: 5px;
  margin-bottom: 10px;
}
.topics-page .feature-topic {
  width: 90% ;
  margin: auto;
  height: auto;
  padding-top: 70px;
  text-align: center;
}
@media (max-width: 768px) {
  .topics-page .feature-topic {
    padding: 0;
  }
}
.topics-page .feature-topic .feature-title {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-size: 58px;
  color: white;
  display: inline-block;
}
@media (max-width: 768px) {
  .topics-page .feature-topic .feature-title {
    font-size: 38px;
  }
}
.topics-page .feature-topic .feature-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
  width: 400px;
}
@media (min-width: 319px) {
  .topics-page .feature-topic .feature-text {
    text-align: left;
  }
}
.topics-page .feature-topic .feature-space {
  width: 100%;
  margin-left: 17px;
  padding-bottom: 0px;
  text-align: left;
}
.topics-page .feature-topic .feature-row {
  padding-top: 5%;
}
.topics-page .feature-topic .feature-video {
  background-image: url('../img/tv3.png') !important;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  width: 450px;
  height: 450px;
}
@media (max-width: 580px) {
  .topics-page .grade-hide {
    display: none;
  }
}
.topics-page .resource-item {
  overflow-y: hidden;
  /*color:red;*/
  /*border: solid #000 2px;*/
  padding: 20px;
  /*max-height: 550px;*/
  /*overflow-y: auto;*/
  height: 200px;
  border-top: 7px solid #99E2CF;
  border-right: 7px solid #99E2CF;
  border-radius: 5px !important;
  background-color: rgba(255, 255, 255, 0.3);
}
.topics-page .resource-item img {
  width: 190px;
  height: 120px;
  float: left;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .topics-page .resource-item img {
    width: 120px;
    height: 80px;
  }
}
.topics-page .resource-item .resource-text {
  margin-left: 210px;
  clear: right;
  font-size: 14px;
}
@media (max-width: 768px) {
  .topics-page .resource-item .resource-text {
    margin-left: 140px;
  }
}
.topics-page .resource-item .item-title {
  font-size: 18px;
  max-height: 27px;
}
@media (max-width: 768px) {
  .topics-page .resource-item .item-title {
    font-size: 16px;
  }
}
.topics-page .resource-section {
  width: 84%;
  margin-left: 12%;
}
.topics-page .resource-item-wrap {
  /*background-color: gray;*/
  background: rgba(255, 255, 255, 0.2);
}
.topics-page .filter-drop {
  background: #f4f4f4 !important;
  text-transform: uppercase;
  color: black !important;
  font-weight: bolder !important;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topics-page .filter-button {
  margin-right: 6px;
  padding: 8px;
  color: black !important;
  font-weight: bold !important;
  font-size: 17px;
  border: 0px !important;
  background: #f4f4f4 !important;
  border-radius: 5px !important;
}
.topics-page .nav .nav-search {
  margin-left: 10px;
}
.topics-page .topic-resources {
  width: 90%;
  color: #181818;
}
.topics-page .nav-tabs {
  border-bottom: 0;
}
.topics-page .tabs-row {
  margin-right: 20px;
  padding-right: 20px;
}
.topics-page .tabs-padding {
  padding: 0;
}
@media (min-width: 737px) and (max-width: 768px) {
  .topics-page .feature-image {
    width: 265px !important;
  }
  .topics-page h1 {
    font-size: 38px !important;
  }
  .topics-page .feature-space {
    width: 100%;
    margin: auto;
    padding-bottom: 0px;
  }
  .topics-page .tabs-first {
    margin-right: 5px;
  }
  .topics-page .tabs-second {
    margin-left: 13px;
    margin-right: 15px;
  }
  .topics-page .resource-section {
    width: 100%;
    margin-left: 5%;
  }
  .topics-page .resource-section img {
    width: 200px;
    height: 120px;
    margin-right: 10px;
  }
  .topics-page .search {
    width: 34%;
  }
  .topics-page .tabs-row {
    margin-left: 0;
    padding-left: 0;
  }
  .topics-page .resource-item {
    border-left: 7px solid #99E2CF;
  }
  .topics-page .feature-row {
    padding-top: 0 !important;
  }
  .topics-page .hr-topics {
    display: none;
  }
  .topics-page .item-title {
    font-size: 22px !important;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media (min-width: 581px) and (max-width: 736px) {
  .topics-page .tabs-first {
    margin-right: 5px;
  }
  .topics-page .tabs-second {
    margin-left: 13px;
    margin-right: 15px;
  }
  .topics-page .resource-section {
    width: 100%;
    margin-left: 5%;
  }
  .topics-page .search {
    width: 31%;
  }
  .topics-page .tabs-row {
    margin-left: 0;
    padding-left: 0;
  }
  .topics-page .resource-item {
    border-left: 7px solid #99E2CF;
  }
  .topics-page .feature-row {
    padding-top: 0 !important;
  }
  .topics-page .hr-topics {
    display: none;
  }
  .topics-page .item-title {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media (min-width: 568px) and (max-width: 580px) {
  .topics-page .tabs-first {
    margin-right: 5px;
  }
  .topics-page .tabs-second {
    margin-left: 13px;
    margin-right: 15px;
  }
  .topics-page .resource-section {
    width: 100%;
    margin-left: 5%;
  }
  .topics-page .search {
    width: 38%;
  }
  .topics-page .tabs-row {
    margin-left: 0;
    padding-left: 0;
  }
  .topics-page .resource-item {
    border-left: 7px solid #99E2CF;
  }
  .topics-page .feature-row {
    padding-top: 0 !important;
  }
  .topics-page .hr-topics {
    display: none;
  }
  .topics-page .item-title {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media (min-width: 321px) and (max-width: 567px) {
  .topics-page .tabs-first {
    margin-right: 5px;
  }
  .topics-page .tabs-second {
    margin-left: 13px;
    margin-right: 15px;
  }
  .topics-page .resource-section {
    width: 100%;
    margin-left: 5%;
  }
  .topics-page .search {
    margin-top: 20px;
    width: 69%;
  }
  .topics-page .tabs-row {
    margin-left: 0;
    padding-left: 0;
  }
  .topics-page .resource-item {
    border-left: 7px solid #99E2CF;
  }
  .topics-page .feature-row {
    padding-top: 0 !important;
  }
  .topics-page .hr-topics {
    display: none;
  }
  .topics-page .item-title {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .topics-page .search {
    display: none;
  }
  .topics-page .tabs-first {
    margin-right: 5px;
  }
  .topics-page .tabs-second {
    margin-left: 13px;
    margin-right: 15px;
  }
  .topics-page .resource-item {
    border-left: 7px solid #99E2CF;
    overflow: hidden;
    padding: 10px;
  }
  .topics-page .resource-section {
    width: 100%;
    margin-left: 5%;
  }
  .topics-page .tabs-row {
    margin-left: 0;
  }
  .topics-page #feature-section img {
    width: 290px;
  }
}
