p {
    font-family: Futura,Helvetica,Arial,sans-serif;
    /* margin: 0 0 25px; */
    font-size: 16px;
    line-height: 1;
}

.home section {
    height: 100vh;
    padding-top: 150px;
}

.content-section {
    padding-top: 0px;
    width: 100%;
    margin: auto;
}

.featured {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 90px 20px 90px!important;
    text-align: center;
    /*color: #000;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.feature-margin {
    margin: 36px auto 10px auto;
}

.intro {
    font-size: 40px !important;
    width: 100%;
    height: auto;
    padding: 300 !important;
    text-align: center;
    color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.lead-sentence {
    margin-top: 65px;
}

.feature-col {
    align: right;
    padding-right: 0px !important;
    padding-left: 150px;
    padding-top: 50px;
}

h1 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 80px;
    color: white;
    display: inline-block;
    z-index: 0;
}

.video-image {
    z-index: -1;
    position: absolute;
    float: left;
    margin-left: 0px;
    border: 0;
    top: 49px;
    width: 450px;
    height: 373px;
    border-width: 5px;
    right: 55px;
    margin-bottom: 105px;
    /* margin-right: 15px; */
    /* position: absolute; */
    /* padding-top: 200px; */
    /* left: 0; */
    /* width: 100%; */
}

img {
    border: 3px solid #E82A89;
    border-radius: 3px;
}

.video {
    margin-top: 131px;
    margin-left: 12px;
    margin-right: 39px;
    width: 375px;
    height: 207px; 
}

    @media(min-width:1457px) and (max-width:1487px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 25px;
        margin-top: 130px;
     }
    }
    @media(min-width:1488px) and (max-width:1508px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 30px;
        margin-top: 130px;
     }
    }
 
    @media(min-width:1508px) and (max-width:1528px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 45px;
        margin-top: 130px;
     }
    }

        @media(min-width:1528px) and (max-width:1571px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 55px;
        margin-top: 130px;
     }
    }

            @media(min-width:1572px) and (max-width:1612px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 70px;
        margin-top: 130px;
     }
    }
                @media(min-width:1613px) and (max-width:1653px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 90px;
        margin-top: 130px;
     }
    }

                    @media(min-width:1654px) and (max-width:1700px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 110px;
        margin-top: 130px;
     }
    }

                        @media(min-width:1700px) and (max-width:1745px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 125px;
        margin-top: 130px;
     }
    }
    
        @media(min-width:1746px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 145px;
        margin-top: 130px;
     }
    }

    
        @media(min-width:1785px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 162px;
        margin-top: 130px;
     }
    }

            @media(min-width:1832px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 182px;
        margin-top: 130px;
     }

            @media(min-width:1877px) {
        
        .video {width: 385px;
        height: 215px;
        margin-left: 202px;
        margin-top: 130px;
     }

    }
     
    }
.feature-selections {

    width: 83%; 
    margin: auto;
}

.feature-selections > div {
        text-align:center;
}

.feature-selections > div > p {
    font-size: 17px; 
    margin-top: 4px;
    font-weight: 1200 !important;

}

.macro {
    font-size: 26px !important;
}


.arrow {
    margin-top: 0px !important;
    padding-top: 0px !important;
    width: 70px;
    height: 40px;
    border-style: none;
}

a {
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.macro-page {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;
    list-style: none;
    z-index: 2;
    position: absolute;
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
}
/*
.iphone-macro-page {
    display: none;
}*/

.feature-hr {

    display: inline-block; 
    border-top: 3px solid rgba(255,255,255,.6); 
    margin:65px 0px 0px 0px; 
    width: 76%;
}

.reveal {
    transition: all ease-in 0.5s;
    opacity: 100 !important;
    color: white;
}

.micro-page {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;
    list-style: none;
    z-index: 2;
    position: absolute;
    text-align: center;
    padding-top: 60px;
    padding-left: 0;
    text-transform: uppercase;
}

.micro-row {
    width:90%;
    left: 40px;
}

.about-pic {
    width:400px; 
    height: 250px; 
    margin: 20px 0px 5px 9px;
}

.submit {
   margin-left:auto;
   margin-right: auto;
   margin-top: 5px;
}

.featured-images {
    width: 260px;
    height: 150px;
}

.micro-logo {
    border: none;
    width: 400px;
}

.macro-logo {
     border: none;
    width: 450px;
    height: 430px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

@media(min-width:740px){
        .phone-size {
            display: none;
        }
}



    /*ipad*/
@media(min-width:740px) and (max-width:1435px) {

    .lead-sentence {
        margin-top: 10px;
    }
    .featured {
        padding-top: 82px !important;
    }
 
    .feature-hr {
        margin-top: 0 !important;
        width: 100%;
    }

    .feature-selections {

    width: 100%; 
    margin: auto;
    }

    h1 {
        font-size: 68px;
    }

    .feature-margin {
    margin: 49px auto 10px auto;
    }

    .feature-col{
        padding-left: 0;
    }

    .video-image {
    margin-top: 5px;
        width: 320px;
        height: 262px;
        right: 0;
        left: 49px;
    }

    .video {
        width: 275px;
        height: 155px;
        margin-left: 55px;
        margin-top: 110px;
        margin-right: 39px;

    }

    .submit {

        margin:auto;
    }
    .micro-logo {
        width: 380px;
    }
   
}     

@media(min-width:1146px) and (max-width:1435px) {
    .video {
        margin-top: 112px;
        margin-left: 60px;
        margin-right: 150px !important;
        width: 263px;
        height: 146px; 
    }
}
/*ipad portrait*/
@media(min-width:740px) and (max-width:1000px) {

    .macro-page {
        padding-top: 0 !important;
    }
    h1 {
        font-size: 50px;
    }

    .video-image {
        margin-right: 150px !important;
        padding-right: 50px !important;
        height: 245px;
        width: 335px;
    }

    .video {
        margin-top: 109px;
        margin-left: 55px;
        margin-right: 99px !important;
        width: 243px;
        height: 136px; 
    }

    .featured-images {
        width: 170px !important;
        height: 110px;
    }

    .macro-logo {
        width: 300px; 
        height: 300px;
    }

       .micro-logo {
        width: 260px; 
        height: 280px;
    }

}

@media(min-width:570px) and (max-width:767px) {
    btn-intro {
        margin-left: 0px !important;
    }
}

@media(min-width:570px) and (max-width:767px) {
        .video-image-small {
        width: 395px !important; 
        height: 243px !important; 
        margin-left: 310px !important;
    }

}

/*iphone plus landscape*/
@media(min-width:570px) and (max-width:767px) {

        .macro-page {
        display: none;
    }

        .iphone-macro-page {
        display: block !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }

        .subtopics {
        font-size: 20px;
        line-height: 1.5;
    }

/*
    .video-image-small {
        width: 295px !important; 
        height: 243px !important; 
        right: 210px !important;
    }*/

    
    .btn-intro {
        margin-top: 10px;
        text-align: center !important;
        margin-left: 188px !important;
    }

       .macro {
        margin-left: 100px !important;
    }

        .globe {
        left:173px !important;
    }
        .macro-logo {
        margin-left: 170px !important;
        width: 440px;
        }

    .micro-logo {

        margin-left: 160px !important;
    }

       .meet {
        margin-left: 170px !important;
    }

}

/*iphone and iphone plus landscape*/
@media(min-width:560px) and (max-width:739px) {

        .macro-page {
        display: none;
    }

        .iphone-macro-page {
        display: block !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }

        .subtopics {
        font-size: 20px;
        line-height: 1.5;
    }

    .subtopics {
        font-size: 30px;
    }

    .feature-selections-text {
        font-size: 30px !important;
    }

    .about-pic {
        width:210px; 
        height: 140px; 
    }
    
    .name {
        font-size: 16px;
        text-align: left !important;
    }
    
    .message {
        margin-left: 15px;
    }
    
    .message > textarea {
        width: 90%;
    }
    
    .submit {
        margin: auto !important;
    }
    .home section {
       display: none;
    }

    .small-size {
        margin:0 !important;
    }
    
    .featured-images {
    width: 370px;
    height: 220px
    }
    .special > div > p {
        font-size: 22px; 
        margin: 14px;
        font-weight: 1200 !important;
    }
    
    .macro {
    font-size: 46px !important;
    text-align: center;
    margin-left: 30px;
    }
    
    
    .video {
    margin: auto; 
    padding-top: 20px !important;
    }

    .video-image-small {
        z-index: -1;
        position: absolute;
        border: 0;
        width: 295px !important; 
        height: 243px !important; 
        margin:auto !important; 
    }

    .video-small {
        float: none !important;
        position: relative;
        margin-top: 48px;
        left: 10px;
        height:152px;
        width: 268px;
    }
    
    .btn-intro {
        margin-left: 20px !important;
        margin-top: 30px !important;
    }
    .arrow {
        display: none;
    }

    h2 {
     font-size: 16px !important;    
    }
    
    h1 {
        font-size: 56px !important;
    
    }
    
    .meet {
        margin-left: 99px;
    }

    .intro-small{
        display:none;
    }
    
    .macro-page {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    a {
        color: white;
        font-weight: 1700 !important;
        text-transform: none !important;
    }
    .micro-logo {
        margin-left: 115px;
        width: 340px;
    }

    .macro-logo {
        margin-left: 73px;
        width: 440px;
    }

    .micro-page {
        position: relative;
        margin-left: 70px;
    }

        .hr {

        border-bottom: 2px solid white;
    }
    #micro-section-small {
        margin-top: 50px;
    }

       .meet {
           margin-top: 0px;
           padding-top: 0px;
     font-size: 40px;   
    }
    
}


@media(min-width:437px) and (max-width:559px) {

}

/*iphone plus portrait*/
@media(min-width:321px) and (max-width:559px) {

        .macro-page {
        display: none;
    }

        .iphone-macro-page {
        display: block !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }

        .subtopics {
        font-size: 20px;
        line-height: 1.5;
    }

    .macro-logo {
        width: 400px;
        height: 380px;
        margin-left: 20px;
    }

    .about-pic {
        width:290px; 
        height: 190px;
        margin-right: 55px; 
    }
    
    .name {
        font-size: 20px;
    }
    
    .message {
        margin-left: 15px;
    }
    
    .message > textarea {
        width: 90%;
    }
    
    .submit {
        margin: auto !important;
    }
    .home section {
       display: none;
    }

    .small-size {
        margin:0 !important;
    }
    
    .featured-images {
    width: 210px;
    height: 120px;
    left: 30px;
    }
    .special > div > p {
        font-size: 22px; 
        margin: 14px;
        font-weight: 1200 !important;
    }
    
    .macro {
    font-size: 35px !important;
    text-align: center;
    margin-bottom: 0;
    }
    
    
    .video {
    margin: auto; 
    padding-top: 20px !important;
    }

    .video-image-small {
        z-index: -1;
        position: absolute;
        border: 0;
        width: 275px !important; 
        height: 243px !important; 
        margin: auto;
         
    }

    .video-small {
        float: none !important;
        position: relative;
        margin-top: 48px;

        margin-left: 12px !important;
        height:142px;
        width: 250px;
    }
    
    .btn-intro {
        margin-top: 40px;
        text-align: center !important;
        margin-left: 10px;
    
    }

    h2 {
     font-size: 16px;    
    }
    
    h1 {
        font-size: 26px !important;
    
    }
    
    h3 {
        margin-left: 35px;
    }

    .intro-small{
        display:none;
    }
    
    .globe {
        top: 30px;
        font-size: 460px !important;
        position: absolute;
        z-index: -1 !important;
        color: rgba(231, 68, 177, 0.9) !important;
    }
    
    .macro-page {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }
    
    a {
        color: white !important;
        font-weight: 1700 !important;
        text-transform: none !important;
    }
    
    .university {
        top: 0px;
        margin-top: 72px;
        font-size: 330px !important;
        position: absolute;
        right: 10px;
        z-index: -1 !important;
          color: rgba(231, 68, 177, 0.9) !important;
    }
    .meet {
        font-size: 35px;
    }

    .hr {
        display: none;
    }

     #latest-small {
        margin-top:25px;
    }

    #macro-section-small {
        margin-top: 65px;
    }

    #micro-section-small {

        margin-top: 224px;
    }

    .arrow-row {
        margin-top: 25px;
    }

    .micro-logo {
  width: 370px;

}

.micro-page{
    position: relative;
    margin-left: 15px;

}
    
    
}

/*iphone portrait*/
@media(max-width:320px) {

    .micro-logo {
        width: 290px;
    }

    .micro-page{
        position: relative;
        margin-left: 15px;
    }

    .hr {
        display: none;
    }
    .watch-button-row {
        margin-bottom:30px;
    }

    #latest-small {
        margin-top:55px;
    }

    #macro-section-small {
        margin-top: 45px;
    }

    #micro-section-small {
        margin-top: 54px;
    }

    .meet {
      font-size: 31px;
    }

    .about-pic {
        width:290px; 
        height: 190px; 
    }
    
    .name {
        font-size: 20px;
    }
    
    .message {
        margin-left: 15px;
    }
    
    .message > textarea {
        width: 90%;
    }
    
    .submit {
        margin: auto !important;
    }
    .home section {
       display: none;
    }

    .small-size {
        margin:0 !important;
    }
    
    .featured-images {
    width: 150px;
    height: 90px
    }

    
    .video {
    margin: auto; 
    padding-top: 20px !important;
    }

    .video-image-small {
        z-index: -1;
        position: absolute;
        border: 0;
        width: 310px !important; 
        height: 253px !important; 
        margin-bottom: 105px; 
        right: 5px;
    }

    .video-small {
        float: none !important;
        position: relative;
        margin-top: 51px;
        height:152px;
        width: 272px;
    }
    
    .btn-intro {
        margin-top: 35px;
        margin-bottom: 10px;
        text-align: center !important;
    }

    h2 {
     font-size: 16px;    
    }
    
    h1 {font-size: 26px !important};

    .intro-small{
        display:none;
    }
    
    .macro-logo {
        width: 300px;
        height: 300px;
        margin-left: 16px;
    }
    
    .macro-page {
        display: none;
        /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;*/
    }

    .iphone-macro-page {
        display: block !important;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900 !important;
        line-height: 2;
        z-index: 1 !important;
        position: relative !important;
        color: white !important;
        text-align: center;
        padding-top: 0px;
        padding-left: 0px;
    }

    .subtopics {
        font-size: 20px;
        line-height: 1.5;
    }
    
    a {
        color: white !important;
        font-weight: 1700 !important;
        text-transform: none !important;
    }

}
    

