    

.navbar-custom {
    text-align: center;
    margin: auto;
    background-attachment: fixed;
    background: url("../img/shutterstock6.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    /* border-bottom: 3px solid rgba(255,255,255,.3); */
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;


    @media(max-width:767px){
            display: none;
        }

    @media(min-width:735px) and (max-width:1025px){
           
    background: url("../img/shutterstock8.png") !important;
   
    background-attachment: fixed;
    background-size: cover !important;
    background-repeat: no-repeat !important;
                  }    
    
    .navbar-brand {
        font-weight: 700;
        padding: 0;
        background-image: url("../img/shutterstock4.png");
    }
    .navbar-brand:focus {
        outline: 0;
    }

    .navbar-brand .navbar-toggle {
   display: none;
    }

    .navbar-brand .navbar-toggle:focus,
    .navbar-brand .navbar-toggle:active {
        outline: 0;
        background-image: url("../img/shutterstock4.png");
    }
    a {
        color: #fff;
    }

    .nav li a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
    }
    .nav li a:hover {
        outline: 0;
        color: rgba(255,255,255,.8);
        background-color: transparent;
    }
    .nav li a:focus, .nav li a:active {
        outline: 0;
        background-color: transparent;
    }
    .nav li.active {
        outline: 0;
    }
    .nav li.active a {
        background-color: rgb(244, 244, 244);
    }
    .nav li.active a:hover {
        color: #fff;
    }
}
// THe code below is the for the new navbar
// you must commnet it if you want to enable the new navbar
nav{
    .logo{
        width: 110px;
        height: 105px;
        padding: 0px;
    }
    
    a.navbar-subjects{
        // CSS below applies when screen is large 
        @media(min-width:735px){
            font-size: calc(2.0vw );
        }
        // CSS below applies when screen is small
        @media(max-width:790px){
            font-size: 20px;
            ul{
                padding: 10px;
                margin: 0;
            }
        }
    }
}

nav{
    .topics {
        background:rgb(244, 244, 244) !important;
        border: 0 !important;
        border-color: transparent;
    }
    .topics-menu {
        background-color: transparent;
        border-color: transparent;
        border: 0 !important;
    }

    .topics:after {
        background: transparent;
        border: 0 !important;
        border-color: transparent;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown:hover .topics {
        left: 22%;
    }
    
}

nav{
    .topics {
        background: #fff !important;
        border: 0 !important;
        border-color: transparent;
    }
    .topics-menu {
        background-color: transparent;
        border-color: transparent;
        border: 0 !important;
    }

    .topics:after {
        background: transparent;
        border: 0 !important;
        border-color: transparent;
    }

    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown:hover .topics {
        left: 22%;
    }
    
    
    
}
 .navbar-fixed-bottom .navbar-collapse,  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
    
    
}
// THe code above is the for the new navbar

.navbar-header {
    display: none;
}

.navbar-subjects {
    margin-top:40px;
    font-size: 28px;
    font-weight: bolder !important;
    margin-left:20px;
}
/*.navbar-center {
    width: 550px;
    margin:auto;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    background-image: url("img/navbar.png");
}*/